  <section class="bio-section mat-elevation-z4">
    <h1>Welcome to My Portfolio</h1>
    <p>
      Hi, I’m <strong>Je-Mé Kruger-Baartjes</strong>, a software developer who thrives on crafting impactful, user-friendly solutions. 
      With a double degree in Computer Science from Wits University 🎓 and an insatiable curiosity, I’ve embraced a truly versatile 
      career across a spectrum of technologies. Frontend? I’ve danced with vanilla JS as well as all the big JavaScript frameworks—React, Vue, and Angular—and 
      ventured into C# Web Forms, Blazor, Spring, and even Delphi (👀 I know). Backend? I've got Python, C#, Go, Node, 
      and recently Java under my belt. Cloud? All three major providers—AWS, Azure, and Google Cloud—are my playground.
    </p>
    <p>
      I’ve had the privilege of wearing many hats in my career that started when I was just four years old - where I sold bunnies as pets 🐰 
      While my role was more mascot than mogul, 
      it planted the seed of entrepreneurship in me. By 16, I had founded a web development agency, and by 19, a tutoring business. 
      These ventures weren’t just businesses—they were classrooms, teaching me resilience, adaptability, and a whole lot about 
      working with people. All of this culminated in one of my proudest achievements: <strong>The Wits Developer Society</strong>.  
    </p>
    <p>
      Founding this society was about more than coding; it was about community. I wanted to create a space where students could 
      lift each other up and showcase Wits' excellence. It’s still going strong today, and during my time at the helm, my committee and 
      I organized hackathons, tech career days, and masterclasses that left lasting impressions on everyone involved. Seeing its 
      growth has been one of my most fulfilling experiences.
    </p>
    <p>
      Outside of tech, I’m an unapologetic creative. Painting, crocheting, and cosplaying are my escapes—one cosplay even leading to me 
      learning how to walk on stilts. When I’m not creating, you’ll find me dancing, scaling rock walls, diving into books, or learning something new.
    </p>
    <p>
      At my core, I’m driven by curiosity, creativity, and connection. Whether it’s optimizing performance, bringing people together, 
      or tackling challenges head-on, I’m always ready for the next big adventure. Let’s build something amazing together! ️‍🔥
    </p>
  </section>
  