<div class="contact-container">
    <h2>Contact Me</h2>
  
    <div class="contact-grid">
      <mat-card class="contact-card" *ngFor="let contact of contactDetails">
        <mat-card-header>
          <mat-icon class="contact-icon">{{ contact.icon }}</mat-icon>
          <mat-card-title class="mat-card-header-text">{{ contact.type }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a [href]="contact.link" target="_blank">{{ contact.value }}</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  