<mat-toolbar color="primary">
    <span>My Portfolio</span>
    <span class="spacer"></span>
    <nav>
        <a mat-button routerLink="/app-bio" routerLinkActive="active" aria-current="page">Bio</a>
        <a mat-button routerLink="/app-experience" routerLinkActive="active" aria-current="page">Experience</a>
        <a mat-button routerLink="/app-skills" routerLinkActive="active" aria-current="page">Skills</a>
        <a mat-button routerLink="/app-education" routerLinkActive="active" aria-current="page">Education</a>
        <a mat-button routerLink="/app-personal-projects" routerLinkActive="active" aria-current="page">Projects</a>
        <a mat-button routerLink="/app-contact-info" routerLinkActive="active" aria-current="page">Contact</a>
        <app-theme-toggle></app-theme-toggle>
      </nav>      
  </mat-toolbar>
  