<div class="experience-container">
  <h2>Professional Experience</h2>

  <div class="experience-grid">
    <mat-card class="experience-card" *ngFor="let job of experiences">
      <mat-card-header>
        <div class="company-info">
          <mat-card-title class="mat-card-header-text">{{ job.company }}</mat-card-title>
          <mat-card-subtitle class="mat-card-header-text">{{ job.role }} | {{ job.duration }}</mat-card-subtitle>
        </div>
      </mat-card-header>

      <mat-card-content>
        <p class="location"><mat-icon>place</mat-icon> {{ job.location }}</p>

        <h4>Responsibilities</h4>
        <ul>
          <li *ngFor="let task of job.responsibilities">{{ task }}</li>
        </ul>

        <h4>Technologies Used</h4>
        <div class="tech-chips">
          <mat-chip-set>
            <mat-chip *ngFor="let tech of job.technologies" color="primary" selected>
              {{ tech }}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
